<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{category}}</mat-card-title>
      <mat-card-subtitle>classification result</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{classifyservice.doc}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <h4>Choose new Category</h4>
<mat-form-field>
  <mat-label></mat-label>
  <mat-select [(ngModel)] = "authCategory" name = "authCategory" >
    <mat-option *ngFor="let catrgorytype of catrgorytypes" [value]="catrgorytype.name">
      {{catrgorytype.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
      <button mat-raised-button color="primary" (click)="onSubmitOrg()">Save</button>
      <button mat-raised-button color="primary" (click)="onSubmitAut()">Save doc with auto category select</button>
    </mat-card-actions>
</mat-card>