<mat-accordion>
    <mat-expansion-panel *ngFor = "let article of articles$|async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{article.category}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{article.body}}
    </mat-expansion-panel>
</mat-accordion>