<form #signUp="ngForm"(ngSubmit)="onSubmit()">
    <h3>Add New User</h3>
     <div>
       Email: <input [(ngModel)]= "email"
                                 name="email"> 
     </div>
     <br>
     <div>
       Password: <input [(ngModel)]= "password"
                                 name="password"> 
       </div>
       <br>
       <div class="alert" *ngIf = "authservice.errora" style="color:red">
        <p>You have an error message</p>
      {{authservice.errora}}
    </div>
    <br>
         <button mat-raised-button color="primary" [disabled]>Sign Up</button>
     </form>
 